/* Plus Jakarta Sans */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,700;1,400&display=swap'); 

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* Pompiere */
@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

/* Madimi One */
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    cursor: pointer;
}

.container {
    display: inline-block;
}

#uselessweb-title {
    text-align: center;
    font-size: 28px;
    font-family: 'Madimi One';
}

#clickforSarcasm {
    text-align: center;
    font-family: 'Madimi One';
}

#quotes {
    display: none;
}


#instructionText {
    font-size: 25px;
    font-family: 'Plus Jakarta Sans';
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}